<!DOCTYPE html>
<html>

<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<%= stylesheet_link_tag "bootstrap.min" %>
</head>

<body style="background-color: #C9ECFF" class="d-flex justify-content-center">
	<h1>HELOO</h1>
</body>

</html>