<!DOCTYPE html>
<html>

<head>
    <title>MY CSS<title>
    <style type=”text/css”>
           h1{
               color:blue;
           }
    </style>
</head>
<body>
	<h1>Hello Rubyers!</h1>
</body>

</html>