<!DOCTYPE html>
<html>

<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body style="background-color: #C9ECFF;display: flex;-ms-flex-pack: center !important;justify-content: center;">
	<div style="  position: relative;width: 100%;margin-left:30%;flex: 0 0 41.666667%;max-width: 41.666667%;background-color: #fff !important;">
		<img style="display: block !important;width: 100% !important;" src="https://i.imgur.com/e0TtFDW.png" alt="">
		<div style="padding: 1rem !important;display: block !important;">
			<h3 style="margin-top:0">
				Hello, <strong>
					<%= @user.name %>
				</strong>.
			</h3>
			<p>
				Thank you! We've received your design. Someone from our team will contact you soon.
			</p>
		</div>
		<div style="display: flex;-ms-flex-pack: center !important;margin-left:40%;justify-content: center;margin-top: 1rem !important;margin-bottom: 1rem !important;">
			<h5 style="margin-top:0"><strong>SOME OF OUR PRODUCTS</strong> </h5>
		</div>
		<div style="display: flex;justify-content: around;padding: 1rem !important;">
			<div style="position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 50%;max-width: 50%;">
				<img src="https://i.imgur.com/1YxkepH.jpg" alt=""
					style="display: block !important;width: 100% !important;">
			</div>
			<div style="position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 41.666667%;max-width: 41.666667%;">
				<h4 style="margin-top:0">3 seater sofa PENNY</h4>
				<div style="font-size: 14px">
					Simplicity, sophistication, elegance and no less outstanding features of this sofa bearing the
					eternal blood of Scandivian with color versions from dark to light in turn with Pastel on will bring
					unmistakable colors and variety for each living space in your home.
				</div>
				<div style="font-size: 14px; display: flex">
					<div style="display: flex;  align-items: center !important;-ms-flex-align: center !important;">
						<strong>
							600 USD
						</strong>
					</div>
					<a href="https://ec-furniture-ui.herokuapp.com/menu/All" style="text-decoration: none !important;">
						<div class="btn btn-outline-primary rounded-0 mx-3 text-decoration-none"
							style="font-size: 14px !important;text-decoration:none !important;display: inline-block;font-weight: 400;color: #212529;text-align: center;
							vertical-align: middle;
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							background-color: transparent;
							border: 1px solid transparent;
							padding: 0.375rem 0.75rem;
							font-size: 1rem;
							line-height: 1.5;
							border-radius: 0.25rem;
							transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
							color: #007bff;
							border-color: #007bff;border-radius: 0 !important;margin-right: 1rem !important;margin-left: 1rem !important;">
							BUY NOW
						</div>
					</a>
				</div>
			</div>

		</div>
		<div style="display: flex; justify-content: around;padding: 1rem !important;">
			<div style="  position: relative;
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				flex: 0 0 41.666667%;
				max-width: 41.666667%;">
				<h4 style="margin-top:0">Maxine wooden bed</h4>
				<div style="font-size: 14px">
					The Miami upholstered bed uses white Oak imported from the US and high-grade moisture-resistant MDF
					to create a solid product. Thanks to the warm tone of wood, the Miami bed brings a harmony, typical
					of Nordic interior style.
				</div>
				<div style="font-size: 14px; display: flex">
					<div style="display: flex;  align-items: center !important;-ms-flex-align: center !important;">
						<strong>
							1500 USD
						</strong>
					</div>
					<a href="https://ec-furniture-ui.herokuapp.com/menu/All" style="text-decoration: none !important;">
						<div style="font-size: 14px !important;text-decoration: none !important;
						display: inline-block;
						font-weight: 400;
						color: #212529;
						text-align: center;
						vertical-align: middle;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						background-color: transparent;
						border: 1px solid transparent;
						padding: 0.375rem 0.75rem;
						font-size: 1rem;
						line-height: 1.5;
						border-radius: 0.25rem;
						transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
						color: #007bff;
						border-color: #007bff;border-radius: 0 !important;margin-right: 1rem !important;margin-left: 1rem !important;">
							BUY NOW
						</div>
					</a>
				</div>
			</div>
			<div style="  position: relative;
				width: 100%;
				padding-right: 15px;
				padding-left: 15px;
				flex: 0 0 50%;
				max-width: 50%;">
				<img src="https://i.imgur.com/FsWEkHe.jpg" alt=""
					style="display: block !important;width: 100% !important;">
			</div>
		</div>
		<img src="https://i.imgur.com/tcYW9Q1.png" alt="" style="display: block !important;width: 100% !important;">
		<div style="background-color: #0795DF; padding: 1rem !important;color: #343a40 !important;">
			<div style="display: flex; justify-content: center;   -ms-flex-pack: center !important;">
				<h3 style="text-align:center;">
					<strong>TRENDS DESIGNERS EXPECT TO SEE IN 2022</strong>.
				</h3>
			</div>
			<div style="display: flex; justify-content: center;">
				<p style="font-size: 14px; text-align: center !important;">
					While most people are making their 2022 resolutions, we’re looking toward this coming year with
					something else in mind: All the design and decor trends we can’t wait to see take over spaces
					everywhere in the new year. <br>
					In anticipation (and to get ahead of the trends), we asked some of our favorite designers and
					creators to share their predictions for 2022 furniture and design trends. Keep reading for their
					guesses as to what silhouettes, materials, and styles we’ll be seeing next year.
				</p>
			</div>
			<a href="https://ec-furniture-ui.herokuapp.com/" style="text-decoration: none !important;">

				<div style="display: flex; justify-content: center;text-decoration: none !important;">
					<div style="font-size: 14px !important;text-decoration: none !important;
					display: inline-block;
					font-weight: 400;
					color: #212529;
					text-align: center;
					vertical-align: middle;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					background-color: transparent;
					border: 1px solid transparent;
					padding: 0.375rem 0.75rem;
					font-size: 1rem;
					line-height: 1.5;
					border-radius: 0.25rem;
					transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
					color: #007bff;
					border-color: #007bff;border-radius: 0 !important;margin-right: 1rem !important;margin-left: 1rem !important;">
						VIEW MORE
					</div>
				</div>
			</a>

		</div>
		<div style="background-color: #0795DF">
			<img src="https://i.imgur.com/rBx3d1J.png" alt="" style="display: block !important;width: 100% !important;">
		</div>
	</div>

</body>

</html>